<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dong.lan.mapeye">

    <permission
        android:name="dong.lan.mapeye.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="dong.lan.mapeye.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".views.access.SplashActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.access.LoginActivity"/>
        <activity android:name=".views.access.RegisterActivity"/>
        <activity android:name=".views.UserCenterActivity" />
        <activity android:name=".views.AffairHandleActivity" />
        <activity
            android:name=".views.record.RecordDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".views.AddRecordActivity" />
        <activity android:name=".views.ChatActivity" />
        <activity android:name=".views.ContactSelectActivity" />
        <activity android:name=".views.SearchContactActivity" />
        <activity android:name=".views.access.LoginAndSignActivity" />
        <activity
            android:name=".views.OfflineMapActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".views.CollectPointsActivity" />
        <activity android:name=".views.TrackShowDemo" />
        <activity
            android:name=".views.CenterActivity"
            android:label="@string/title_activity_center"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".task.MonitorStatusTask" />

        <receiver android:name=".BootStartedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="dong.lan.mapeye" />
            </intent-filter>
        </receiver>

        <!-- 百度地图start -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fEPL41s6ykhe7FOKKxFvMN89F646s1hX" />
        <meta-data
            android:name="api_key"
            android:value="fEPL41s6ykhe7FOKKxFvMN89F646s1hX" />

        <!-- 百度地图end -->


        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="dong.lan.mapeye" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required JMessage SDK核心功能 -->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="dong.lan.mapeye" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="daf5f5067293302d1db01752" />

        <activity android:name=".views.SettingActivity" />
        <activity android:name=".views.MonitorRecordActivity" />
        <activity android:name=".views.MonitorRecordDetailActivity" />
        <activity
            android:name=".views.BootInitActivity"
            android:theme="@style/hidenActivity">
            <intent-filter>
                <action android:name="dong.lan.mapeye.bootinit" />
            </intent-filter>
        </activity>
        <activity android:name=".views.MonitorTimerTaskActivity" />
        <activity android:name=".views.AddTimerTaskActivity" />

        <receiver
            android:name=".TimerTaskReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".views.TimerHandlerActivity"
            android:parentActivityName=".views.MainActivity" />
    </application>

</manifest>